<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerenciador_Oficina_Mecanica.Properties.Settings.GerenciaOficinaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=GerenciaOficina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gerenciador_Oficina_Mecanica.Properties.Settings.GerenciaOficinaConnection"
            connectionString="Data Source=localhost;Initial Catalog=GerenciaOficina;Persist Security Info=True;User ID=sa;Password=f1d500"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>